stages:
  - test
  - deploy

before_script:
  - apt-get update -qq && apt-get install -y -qq sshpass

all tests:
  stage: test
  script:
    - rm -rf ./src/
    - rm -rf ./conf/
    - rm -rf ./.vscode/
    - rm -rf ./gulp_tasks/
  when: on_success
  only:
    - master

deploy_stage:
  stage: deploy
  environment: Staging
  only:
    - master
  script:
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -p stricthostkeychecking=no ssh xarala@5.189.161.184
    - cd /home/xarala/nodeapps/xarala-frontend
    - make deploy

deploy_production:
  stage: deploy
  environment: Production
  only:
    - tags
  script:
    - sshpass -V
    - export SSHPASS=$USER_PASS
    - sshpass -e scp -o stricthostkeychecking=no -r /builds/xarala-acadmey/xarala-frontend ssh xarala@5.189.161.184:/home/xarala/nodeapps/xarala-frontend
    - make deploy
