@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
}
.iframe-container {
  height: 700px;
}

@media (max-width: 576px) {
  .iframe-container {
    height: auto;
  }
}

@media (max-width: 768px) {
  .iframe-container {
    height: auto;
  }
}
